@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
:root {
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
  --Input-Error: hsl(0, 100%, 66%);

  /* gradient */
  --Border-Gradient-color: linear-gradient(
    to right hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
}
* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
  /* gap: 10px; */
}
body {
  font-size: 18px;
}
.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  gap: 2.5rem;
  background-repeat: no-repeat;
  /* letter-spacing: 1; */
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-left: 300px; */
  width: 370px;
  /* align-items: center; */
  /* gap: 10px; */
}
.front {
  background-image: url(images/bg-card-front.png);
}
.back {
  background-image: url(images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: center;
  margin-top: 2rem;
}
.card {
  margin: 0 auto;
  width: 400px;
  height: 210px;
  border-radius: 0.4rem;
  color: var(--White);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.3);
}
label {
  color: var(--Very-dark-violet);
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}
input[type="text"] {
  border: 1px solid black;
  width: inherit;
  padding: 10px;
  border: 1px solid rgba(151, 151, 151, 0.37);
  border-radius: 5px;
  margin-bottom: 1.5rem;
}
input::placeholder {
  color: var(--Light-grayish-violet);
  /* font-weight: 500; */
  font-size: 15px;
}

input[type="text"]:focus {
  border-color: var(
    --Very-dark-violet
  ); /* set the border color to blue when the input is active */
  outline: none; /* remove the default outline */
}
.card-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.card-details > input {
  width: 60px;
}
.expiry-d > div > input {
  max-width: 75px;
}
.grid_3 {
  /* margin-right: 20px; */
  margin-left: 10px;
}
.grid_3 > input {
  max-width: 100%;
}
#MM {
  margin-right: 5px;
}

.confirm-btn,
.thanks-btn {
  width: 100%;
  height: 44px;
  margin-top: 1.5rem;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--Very-dark-violet);
  color: var(--White);
  font-size: 0.95rem;
  font-family: "Space Grotesk", serif;
  font-weight: 500px;
  letter-spacing: 0.01rem;
  transition: all 0.6s;
}
.confirm-btn:hover,
.thanks-btn:hover {
  cursor: pointer;
  background-color: rgb(83, 52, 223);
}
.cvc-card {
  position: absolute;
  /* top: 94px; */
  /* left: 315px; */
  margin-top: 93px;
  margin-left: 313px;
}
.num-card {
  position: absolute;
  margin-top: 60px;
  margin-left: 40px;
  height: 1rem;
  font-size: 1.7rem;
}
.name-card {
  position: absolute;
  margin-top: 172px;
  font-size: 0.8rem;
  margin-left: -54px;
}
.front-card-date {
  position: absolute;
  margin-top: 115px;
  margin-left: 309px;
}
.thanks-container {
  width: 370px;
  text-align: center;
  gap: 2rem;
}
.thanks-container > img {
  margin-bottom: 0.8rem;
}
.thanks-container > p {
  color: var(--Light-grayish-violet);
  margin: 0.8rem 0;
}
.hide {
  display: none;
}
